AUTH_USERNAME="usr"
AUTH_PASSWORD="pwd"
AUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.vercel.app/32
MONGODB_URI= # mongodb+srv://<username>:<password>@mongodb.net/?retryWrites=true&w=majority